*{
    margin: 0;
    padding: 0;
}
body{    
    background-color: #d2d2d7	;  
    height: 650px;  
}
.navbar {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.navbar-brand {
    color: #007bff;
    font-size: 1.5rem; 
    text-decoration: none;
}
.navbar-navtools {
    list-style-type: none; 
    display: flex; 
    margin: 0;
    padding: 0;
}
.nav-item {
    margin-right: 10px; 
}
.nav-link {
    color: #343a40;
    text-decoration: none; 
    padding: 10px;
    display: inline-block;
}
#login-popup {
    background-color: #28a745; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 20px;
}

.display-container{
    width: 100%;
    height: 600px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#login-popup:hover {
    background-color: #218838; 
}
.container{
    display: none;
}
.container
{   
    margin:6% auto auto auto ; 
    position: relative;
    width: 390px;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 20px 50px 0 rgb(31, 2, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: height .2s;
}
.container.active-popup{
    transform: scale(1);
}
.active{
    height: 520px;
}
 .form-box{
   transition: transform .18s ease;
   transform: translateX(0);
} 
.registration-box{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
  .active .form-box{
    transition:none;
    transform:translateX(-400px);
  }
  .active .registration-box{
    transition: transform .18s ease;
   transform: translateX(0);
  }
.container .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #161637;
    font-size: 1.5em;
    color: #fff;
    border-bottom-left-radius:20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
} 
.container h2{
    font-size: 30px;
    margin-bottom: 40px;
    color: #161637;
    text-align: center;   
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom:2px solid #162938 ;
    margin: 0 0 20px 0;
}
.input-box label{
    position: absolute;
    top: 0%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
   
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear{
    display: none;
}
.input-box input{
    width: 100%;
    height: 150%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
   
    font-weight: 400;
    color: #162938;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size:1.2em ;
    color: #162938;
    line-height: 57px;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8475rem;
    margin-bottom: 10px;
}
.remember-forgot label{
    margin-left: -30px;   
}
.login-register a,
.remember-forgot a{
    color: #2e12cc ;
    text-decoration: none;
}
.login-register a:hover,
.remember-forgot a:hover{
    color: #002aff;
    cursor: pointer;
}
.btn{
   width: 100%;
   height: auto;
   margin: 10px 0px;
   padding: 10px;
   text-align: center;
   font-size: 1rem;
    font-weight: 600;
   border-radius: 10px;
   background-color:#2b2645;
   color: #fff;
}
.btn:hover{
    background-color:#17038a;
    color: #fff;
    cursor: pointer;
}

.login-register{
    font-size: 1em;
    margin-top: 15px;
}
.login-register a{
    margin-left: 10px ;
    font-size: 1.1em;
}
.registraion-remember-forgot{
    position: relative;
    left: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8475rem;
    margin-bottom:  10px;   
}
.registraion-remember-forgot label{
    margin-left: 10px;
}